{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <link href= {% static "bootstrap/css/bootstrap.css" %} rel="stylesheet" >


        <title>Site Lojas</title>
    </head>

    <body>
 
    <script src= {% static "js/jquery.js" %} ></script>
    <script src= {% static "bootstrap/js/bootstrap.min.js" %} ></script>

    <div id="cabecalho">
    {% block cabecalho %}Cabecalho{% endblock %}
    </div> 
    <div id="conteudo">
    {% block conteudo %}

    {% endblock %}	
    </div> 

    <div id="rodape">
    {% block rodape %}rodapé <br/> {% endblock %}
    </div> 
    </body>
</html>