{% extends "base.html" %}


{% block conteudo %}
<h1>Lista de Produtos</h1>


<form id="form-pesquisa" method="POST">
    {% csrf_token %} 
<table><tr><td>
<input type="text" name="search_key" id="search_key" placeholder="Pesquisa Produto"></td><td> <input type="submit" id="pesquisar" value="Pesquisar" class="btn btn-primary"/></td></tr></table>	
</form>	
<div id="conteudo">

<table class="table table-hover">
{% if produtos %}
      <tr>  
           <td>Descrição</td>
           <td>Valor</td> 
    {% for produto in produtos %}
       <tr> 
           <td>{{ produto.descricao }}</td>
           <td>{{ produto.valor }}</td> 
       </tr>
    {% empty %}
       No articles yet. 
    {% endfor %}
    
{% endif %}

</table>


</div>


<a href="/produtos"> Gerenciar Produtos </a>

{% endblock %}